<div class="submenu">
    <div class="row">

        <div class="col-xs-12">

            <ul class="submenudown">
                <li>
                    <a ng-click="template.gourl('/category/7');">Bags</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/8');">Scarves</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/34');">Hair</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/35');">Phone Cases</a>
                </li>
            </ul>
        </div>

    </div>

</div>