<div class="submenu">
    <div class="row">

        <div class="col-xs-12">

            <ul class="submenudown">
                <li>
                    <a ng-click="template.gourl('/category/Bags');">Bags</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Scarves');">Scarves</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Hair');">Hair</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Phone Cases');">Phone Cases</a>
                </li>
            </ul>
        </div>

    </div>

</div>