<div class="submenu">
    <div class="row">
        <div class="col-md-4">
            <img src="img/accessories.jpg" class="img img-pad" alt="">
        </div>
        <div class="col-md-4">
            <h3>Accessories</h3>
            <ul class="submenudown">
                <li>
                    <a>Bag</a>
                </li>
                <li>
                    <a>Scarves</a>
                </li>
               
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Articles</h3>
            <ul class="submenudown">
                <li>
                    <a>Bag</a>
                </li>
                <li>
                    <a>Scarves</a>
                </li>

            </ul>
        </div>
    </div>

</div>