    <div class="slidesel" >
        <div  class="row marginer"  >
            <div class="col-xs-12 wow fadeInLeft">
                <a href="#/category/1#JEWELLERY"><center><img src="img/logo.jpg" title="Lyla Loves Logo" alt="Lyla Loves"></center></a>
            </div>
       </div>

<!--div class="row marginer">
            <div class="col-xs-4 wow fadeInLeft">
                <img class="img" src="img/newin.jpg">
            </div>
            <div class="col-xs-4 wow fadeInLeft" data-wow-delay="0.2s">
                <img class="img" src="img/insta.jpg">
            </div>
            <div class="col-xs-4 wow fadeInLeft" data-wow-delay="0.4s">
                <img class="img" src="img/lookbook.jpg">
            </div>
       </div-->
    </div>