<div class="filters sorting">
    <div class="row">
        <div class="col-xs-4">
            <h4>Category</h4>
            <ul class="list-unstyled">
                <li><a href="">Necklace</a></li>
                <li><a href="">Bracelets</a></li>
                <li><a href="">Earrings</a></li>
                <li><a href="">Rings</a></li>
                <li><a href="">Scarves</a></li>
                <li><a href="">Bags</a></li>
            </ul>
        </div>
        <div class="col-xs-4">
            <h4>Color</h4>
            <ul class="list-unstyled">
                <li><a href="">Red</a></li>
                <li><a href="">Green</a></li>
                <li><a href="">Blue</a></li>
            </ul>
        </div>
        <div class="col-xs-4">
            <h4>Price</h4>
            <ul class="list-unstyled">
                <li><a href="">&pound; 0-50</a></li>
                <li><a href="">&pound; 51-150</a></li>
                <li><a href="">&pound; 151-250</a></li>
                <li><a href="">&pound; 251-350</a></li>
                <li><a href="">&pound; 350 above</a></li>
            </ul>
        </div>
    </div>
    <div class="pull-right">
        <button class=" btn btn-primary">Save</button>
        <button class="btn btn-danger">Clear</button>
    </div>
    <div class="clearfix"></div>
</div>