<!--div class="header">
    <div class="row">
        <div class="col-xs-3">
            <div myfirstloadclass class="logo fadeInRight">
                <a href="#/home" class="pulseanimation">
                    <img src="img/logo.jpg" />
                </a>
            </div>
        </div>
        <div class="col-xs-5 newsletterhead">
            <input type="email" class="form-control newsletteremail" ng-model="uemail" placeholder="Email"> <a class="btn btn-primary" ng-click="newsletter(uemail)">Subscribe</a>
        </div>
        <div class="col-xs-4">
            <div myfirstloadclass class="headerright fadeInRight">
                <div class="row">
                    <div class="col-xs-6">
                    <!--a href="#/login" class="pulseanimation"><span class="glyphicon glyphicon-user"></span>&nbsp; {{heademail}}</a-> 
                    <a href="#/Login" class="pulseanimation" ng-mouseover="showaccount()"><span class="glyphicon glyphicon-user"></span>&nbsp; My Account{{demo}}</a> 
                    &nbsp;&nbsp;&nbsp;<a href="#/cart" class="pulseanimation"><span class="glyphicon  glyphicon-shopping-cart"></span>&nbsp; Cart</a>
                    <div class="badge newbadge">
                        {{badge}}
                    </div>
                    </div>
                    <!--############################33-->

<!--############################33->
                    <div class="myaccount" ng-show="visible" ng-mouseleave="hideaccount()">
                        <p>My Account</p>
                        <p>Wishlist</p>
                        <p><a href="#/checkout">Checkout</a></p>
                        <p><a href="#/{{loginlogouttext}}">{{loginlogouttext}}</a></p>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" class="form-control headsearch" placeholder="Search">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="zibafunc">
    i
    <br>h
    <br>e
    <br>a
    <br>r
    <br>t
    <br>z
    <br>i
    <br>b
    <br>a
    <br>
    <br>c
    <br>l
    <br>u
    <br>b
</div-->


<div class="header" >
    <!--div class="col-xs-8 col-xs-offset-4 myaccount1">
                        <a href="#/Login" class="pulseanimation" ng-mouseover="showaccount()" style="position: absolute;margin-top: 31px;"><span class="glyphicon glyphicon-user"></span>&nbsp; My Account{{demo}}</a> 
                   
            <div class="myaccount" ng-show="visible" ng-mouseleave="hideaccount()">
                        <p>My Account</p>
                        <p>Wishlist</p>
                        <p><a href="#/checkout">Checkout</a></p>
                        <p><a href="#/{{loginlogouttext}}">{{loginlogouttext}}</a></p>
                    </div>
        </div-->


    <div class="row">
        <div class="col-xs-3">
            <div myfirstloadclass class="logo fadeInRight">
                <a ng-click="template.gourl('/home');" class="" ng-class="ishome" id="totop">
                    <img src="img/logo.jpg" alt="Lyla Loves" Title="Lyla Loves"/>
                </a>
            </div>
        </div>
        <div class="col-xs-6">

            <center>
                <a href="http://instagram.com/lyla_loves" target="_blank">
                    <img src="img/insta.png" class="socialicons">
                </a>
                <a href="https://twitter.com/lyla_loves" target="_blank">
                    <img src="img/twitter.png" class="socialicons">
                </a>
                <a href="https://www.facebook.com/lylaloves" target="_blank">
                    <img src="img/facebook.png" class="socialicons">
                </a>
                <a href="http://www.pinterest.com/lloves1548/" target="_blank">
                    <img src="img/pinterest.png" class="socialicons" title="Lyla Loves
Pinterest " alt="LLoves1548 ">
                </a>
                <a href="https://lylalovesblog.wordpress.com" target="_blank">
                    <img src="img/tumbler.png" class="socialicons">
                </a>
<!--
				<a href="https://www.tumblr.com/blog/lylalovesblog" target="_blank">
                    <img src="img/googleplus.png" class="socialicons">
                </a>
-->
            </center>


        </div>
        <!--div class="col-xs-5">
            <input type="text" class="form-control headsearch" placeholder="Search">
            <a href="#/cart" class="pulseanimation cart1"><span class="glyphicon  glyphicon-shopping-cart"></span>&nbsp; Cart</a>
                    <div class="badge newbadge">
                        {{badge}}
                    </div>
        </div-->
        <div class="col-xs-3">
            <div myfirstloadclass class="headerright fadeInRight">
                <a ng-click="template.gourl('/home');" class="" ng-class="ishome">
                    <img src="img/butterfly.png" alt="" class="butterfly-top" alt="Lyla Loves" title="Lyla Loves">
                </a>
                <!--div class="col-xs-8 col-xs-offset-4">
                        <a href="#/Login" class="pulseanimation" ng-mouseover="showaccount()"><span class="glyphicon glyphicon-user"></span>&nbsp; My Account{{demo}}</a> 
                    &nbsp;&nbsp;&nbsp;<a href="#/cart" class="pulseanimation"><span class="glyphicon  glyphicon-shopping-cart"></span>&nbsp; Cart</a>
                    <div class="badge newbadge">
                        {{badge}}
                    </div>
                    </div>
                    <div class="myaccount" ng-show="visible" ng-mouseleave="hideaccount()">
                        <p>My Account</p>
                        <p>Wishlist</p>
                        <p><a href="#/checkout">Checkout</a></p>
                        <p><a href="#/{{loginlogouttext}}">{{loginlogouttext}}</a></p>
                    </div>

                </div-->

            </div>
        </div>
    </div>

<script type="text/javascript">
adroll_adv_id = "G6LALHLSQND65BWFJHGK64";
adroll_pix_id = "66MZJPUDNNFL3LTOO5ORSG";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>
