<div class="submenu">
    <div class="row">
       
        <div class="col-xs-12">
            
            <ul class="submenudown">
                <li>
                    <a ng-click="template.gourl('/category/necklaces');">Necklaces</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/pendants');">Pendants</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/bracelets');">Bracelets</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/earrings');">Earrings</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/earcuffs');">Earcuffs</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/rings');">Rings</a>
                </li>
                
                
            </ul>
        </div>
      
    </div>

</div>