<div class="content">
    <div class="contenttop">
        <div class="row">
            <div class="col-xs-4">
                <span class="breadcrumb">
							lylaloves...
                </span>

            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4">



            </div>
        </div>
    </div>
           <div class="maincontent">
        <div class="row">
            <div class="col-md-4">
                <a ng-click="template.gourl('/category/necklaces');" target="_self"><div class="socialbigs"><img src="img/lyla-neck.jpg" title="Necklaces" alt="Lyla Loves Necklaces"><br>Necklaces</div></a>
            </div>
            <div class="col-md-4">
                <a ng-click="template.gourl('/category/pendants');" target="_self"><div class="socialbigs"><img src="img/lyla-pend.png" title="Pendants" alt="Lyla Loves Pendant Necklaces"><br>Pendants</div></a>
            </div>
            <div class="col-md-4">
               <a ng-click="template.gourl('/category/bracelets');" target="_self"><div class="socialbigs"><img src="img/lyla-bras.png" title="Bracelets" alt="Lyla Loves Bracelets"><br>Bracelets</div></a>
            </div>
            </div>
            <div class="row">
           <div class="col-md-4">
               <a ng-click="template.gourl('/category/earrings');" target="_self"><div class="socialbigs"><img src="img/lyla-eri.png" title="Earrings" alt="Lyla Loves Earrings"><br>Earrings</div></a>
            </div>
            <div class="col-md-4">
                <a ng-click="template.gourl('/category/earcuffs');" target="_self"><div class="socialbigs"><img src="img/earcruf.jpg" title="Earcuffs" alt="Lyla Loves Earcuffs"><br>Earcuffs</div></a>
            </div>
           <div class="col-md-4">
               <a ng-click="template.gourl('/category/rings');" target="_self"><div class="socialbigs"><img src="img/lyla-ring.png" title="Rings" alt="Lyla Loves Rings"><br>Rings   </div></a>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
adroll_adv_id = "G6LALHLSQND65BWFJHGK64";
adroll_pix_id = "66MZJPUDNNFL3LTOO5ORSG";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>
