<div class="submenu">
    <div class="row">
       
        <div class="col-xs-12">
            
            <ul class="submenudown">
                <li>
                    <a ng-click="template.gourl('/category/Necklaces');">Necklaces</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Pendants');">Pendants</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Bracelets');">Bracelets</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Earrings');">Earrings</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Earcuffs');">Earcuffs</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Rings');">Rings</a>
                </li>
                
                
            </ul>
        </div>
      
    </div>

</div>