<div class="content">
    <div class="contenttop">

        <div class="row">
            <div class="col-xs-4">
                <span class="breadcrumb">
							Home / Lookbook
                </span>
            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
                <div class="pull-right" ng-controller="filterctrl">
                    <a href="#" class="btn btn-default" ng-mouseover="showfilter(0)" ng-mouseleave="hidefilter(0)">Filters</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn btn-default" ng-mouseover="showfilter(1)" ng-mouseleave="hidefilter(1)">Sort By</a>
                    <div class="" ng-include src="filterval[0]" ng-show="filters[0]"></div>
                    <div class="" ng-include src="filterval[1]" ng-show="filters[1]"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="maincontent">

        <div class="lookdetails text-center">
            
            <h5 class="protitle big">{{activelookbook.name}}</h5>
            
            <div class="proprice">
                        <h5>{{activelookbook.price|convertprice}}</h5>
                        <hr style="width:100%;">
      
                        <p>{{activelookbook.description}}</p>
                    </div>
            <a class="btn btn-primary btn-black no-margin" ng-click="addtocart(activelookbook.id,activelookbook.name,activelookbook.price,1)">Add to Cart</a>
            <br>
            <div class="pad"></div>
<!--
            <a href="" class="btn"><span class="glyphicon glyphicon-chevron-left"></span>Previous</a>
            <a href="" class="btn">Next <span class="glyphicon glyphicon-chevron-right"></span></a>
-->
        </div>

        <div class="text-center pad look-img">
            <img ng-src="{{activelookbook.image|imagepath}}" class="img img-2">
        </div>

        <div class="horizon {{firstshow}}">
            <div class="horislide">

                <div class="hori-item {{image.active}}" ng-repeat="image in lookbookimages">
                    <img ng-src="{{image.image|imagepath}}" class="img" ng-click="changeactivelookbook($index)" alt="">
                </div>
               
            </div>
        </div>

    </div>
</div>
