<div ng-controller="navigationctrl">
    <div class="navigation fadeInDown">
        <center>
            <ul class="nav nav-pills font mainmenu" ng-class="ishome">

                <li>
                    <a ng-click="template.gourl('/just-in');">Just In</a>

                </li>
                <!--li ng-mouseover="showsub(5)" ng-mouseleave="hidesub(5)" style="position:relative;">
<a href="#/home">New In</a>
<div class="megamenu megamenu2" ng-include src="submenuval[5]" ng-show="submenu[5]">
</div>
</li-->

                <li ng-mouseover="showsub(0)" ng-mouseleave="hidesub(0)" style="position:relative;">
                    <a ng-click="template.gourl('/jewellery')">Jewellery</a>
                    <div class="megamenu megamenu2" ng-include src="submenuval[0]" ng-show="submenu[0]">
                    </div>
                </li>
                
                <li ng-mouseover="showsub(1)" ng-mouseleave="hidesub(1)" style="position:relative;">
                <a ng-click="template.gourl('/category/accessories');">Accessories</a>
                <div class="megamenu megamenu2" ng-include src="submenuval[1]" ng-show="submenu[1]">
                </div>
            </li>
               
                <li>
                <a ng-click="template.gourl('/sale');">sale</a>
                
            </li>
                <!--<li ng-mouseover="showsub(2)" ng-mouseleave="hidesub(2)">
<a href="#/lookbook">LOOKBOOK</a>
<div class="megamenu" ng-include src="submenuval[2]" ng-show="submenu[2]">
</div>
</li-->
                <li>
                    <a class="" ng-click="template.gourl('/lylaloves');">lyla loves...</a>

                </li>
                    <li>
                <a ng-click="template.gourl('/wholesale');">Wholesale</a>
                
            </li>
                 <li>
                    <a class="" ng-click="template.gourl('/lookbook');">lookbook</a>

                </li>

                <li ng-mouseover="showsub(6)" ng-mouseleave="hidesub(6)">
                    <a ng-click="template.gourl('/contact');">#asklyla</a>
<!--
                    <div class="megamenu" ng-include src="submenuval[6]" ng-show="submenu[6]">
                    </div>
-->
                </li>
                <li>
                <a ng-click="template.gourl('/lylabox');">lyla box</a>
                
            </li>
            </ul>
    </div>


</div>
<script type="text/javascript">
adroll_adv_id = "G6LALHLSQND65BWFJHGK64";
adroll_pix_id = "66MZJPUDNNFL3LTOO5ORSG";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>
