<div class="submenu">
    <div class="row">
        
        <div class="col-xs-12">
           
            <ul class="submenudown">
                <li>
                    <a ng-click="template.gourl('/category/Necklace');">Necklace</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Bracelets');">Bracelets</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Earings');">Earings</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/Rings');">Rings</a>
                </li>
            </ul>
        </div>
        
    </div>

</div>