<div class="submenu">
    <div class="row">
        
        <div class="col-xs-12">
           
            <ul class="submenudown">
                <li>
                    <a ng-click="template.gourl('/category/necklace');">Necklace</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/bracelets');">Bracelets</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/earings');">Earings</a>
                </li>
                <li>
                    <a ng-click="template.gourl('/category/rings');">Rings</a>
                </li>
            </ul>
        </div>
        
    </div>

</div>