
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="advertise"></div>
      </div>
      <div class="col-md-9">
        <h5> Search Values </h5>
        
        <div class="smallslide">
        <ul>
        <li ng-repeat="property in properties" >
        	
        	<a ng-click="template.gourl('/property/'+property.id);">
            {{property.property}}
            <img src="{{property.image|imagepath}}" />
            </a>
        </li>
        </ul>
        
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
adroll_adv_id = "G6LALHLSQND65BWFJHGK64";
adroll_pix_id = "66MZJPUDNNFL3LTOO5ORSG";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>
