<div class="content">
    <div class="contenttop">
        <div class="row">
            <div class="col-xs-4">
                <span class="breadcrumb">
                    Home / Thank You
                </span>
                </span>
            </div>

        </div>

        <div class="container cart text-center" style="min-height:300px">
<h3>Purchase Complete</h3>
<p>Thank you for shopping.</p>   <br>
<p><a ng-click="template.gourl('/home');"><button class="btn btn-default">Continue Shopping</button></a></p>

        </div>
    </div>
<!-- Google Code for Sales Conversion Page -->

<script type="text/javascript">

/* <![CDATA[ */

var google_conversion_id = 906029471;

var google_conversion_language = "en";

var google_conversion_format = "3";

var google_conversion_color = "ffffff";

var google_conversion_label = "eKvkCPHt2lsQn9ODsAM";

var google_remarketing_only = false;

/* ]]> */

</script>

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">

</script>

<noscript>

<div style="display:inline;">

<img height="1" width="1" style="border-style:none;" alt="" 

src="//www.googleadservices.com/pagead/conversion/906029471/?label=eKvkCPHt2lsQn9ODsAM&am

p;guid=ON&amp;script=0"/>

</div>

</noscript>
</div>